/* CSS Document */
/* CSS Document */
*,::before,::after{margin:0; padding:0; -webkit-box-sizing:border-box; -webkit-tap-highlight:transparent;/*清除点击默认的高亮效果*/}

a, article, aside, audio, b, blockquote, body, canvas, caption, dd,  details,div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, label, legend, li, menu, nav, object, ol, output, p,s, section, small, span, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video
{ margin: 0; padding: 0; border: 0; }

ol, ul,li{ list-style: none;}
table { border-collapse: collapse;/*表格的边线重叠*/ border-spacing: 0; }
input,textarea{border:0 none; resize:none;/*调整尺寸*/  /*outline:none;*//*清除表单默认的蓝色边框效果*/ -webkit-appearance:none;/* 针对表单的默认的样式进行清除  比如立体效果*/}
:focus{outline:none;}
img{  -webkit-touch-callout:none;/*当你触摸并按住触摸目标时候，禁止或显示系统默认菜单 */}

a,a:link,a:visited{ text-decoration:none; color:#343434; -webkit-touch-callout:none;}
a:hover{ color:#ff6699;
}
.clearfix:after{content:""; display:block; height:0; clear:both; visibility:hidden;}

.fl{float:left;}
.fr{float:right;}

html{-webkit-text-size-adjust: none;/*不调整（拉伸）字大小*/  font-size:100px;/*表示100px=1rem;       625%    62.5%*/}

body{font-family: "microsoft yahei", "\534E\6587\7EC6\9ED1", Verdana, Arial, Helvetica, sans-serif; font-size:24px;  -webkit-user-select:none; /*禁止选中内容*/}

/*微软雅黑      华文细黑                                         最后一个字体：ios系统默认 */

.m_layout{ max-width:7.5rem; min-width:3.2rem; width:100%;background:rgba(255,255,255,1); margin:0 auto;}


/*文字图标的引入方法*/



@font-face {
  font-family: 'iconfont';  /* project id 591974 */
  src: url('http://at.alicdn.com/t/font_591974_5uzp2sktbg3krzfr.eot');
  src: url('http://at.alicdn.com/t/font_591974_5uzp2sktbg3krzfr.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_591974_5uzp2sktbg3krzfr.woff') format('woff'),
  url('http://at.alicdn.com/t/font_591974_5uzp2sktbg3krzfr.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_591974_5uzp2sktbg3krzfr.svg#iconfont') format('svg');
}
.iconfont{
  font-family:"iconfont" !important;
  font-size:16px;font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
body{

}
.m_header{
    background: #c61821;
    height: 0.88rem;
    z-index: 1000;
    width: 100%;
    position: fixed;
    max-width: 7.5rem;
    min-width: 3.2rem;
    /*margin:0 auto;*/
    /*left: 0; right: 0;*/
    left: 50%;
    -webkit-transform: translateX(-50%);
}
.m_header .left .logo{
    width: 1.02rem;
    height: 0.42rem;
    position: fixed;
    top: 0.24rem;
    left: 0.2rem;
}
.m_header .left p{
    font-size: 0.26rem;
    color: white;
    position: fixed;
    left:1.5rem;
    top:0.26rem;
    z-index: 2;
}

.m_header .left .down{
    position: fixed;
    left: 2.05rem;
    top: 0.32rem;
    font-size: 0.3rem;
    color: white;
    z-index: 2;
}
/*content*/


.m_header .search{
    width: 100%;
    height: 0.88rem;
    padding-top: 0.10rem;
    z-index: 1;
}
.m_header .search form{
    width: 100%;
    height: 0.60rem;
    position: relative;
    padding: 0 1.58rem 0 2.68rem;
}
.m_header .search input[type=text]::-webkit-input-placeholder{
    color:#ddc6c7;
}

.m_header .search input[type=text]{
    width: 100%;
    height: 100%;
    background: #c61821;
    border-bottom: 0.02rem solid white;
    color: white;
    padding-left: 0.4rem;
    padding-top: 0.1rem;
    font-size: 0.26rem;
}
.m_header .search form button{
    top: 0.18rem;
    left:2.68rem;
    position: absolute;
    background: transparent;
    border: 0 none;
    color:#fff;
    font-size: 0.32rem;
}
.m_header .search form i{
    position: absolute;
    background: transparent;
    border: 0 none;
    color: white;
    top:0.20rem;
    right: 1.6rem;
    font-size: 0.32rem;
}
/*right*/
.m_header .right {
    width: 1.1rem;
    height:0.7rem;
    position: fixed;
    right: 0.2rem;
    top: 0.08rem;
}

.m_header .right .dl{
    width:0.5rem;
    height:100%;
}

.m_header .right .dl .dl1{
    color: white;
    font-size: 0.4rem;
}

.m_header .right .dl p{
    color: #f5f5f5;
    font-size: 0.18rem;
}

.m_header .right .nav{
    width: 0.5rem;
    height: 100%;
    margin-left:0.1rem ;
}

.m_header .right .nav .nav1{
    color: white;
    font-size: 0.4rem;
}

.m_header .right .nav p{
    color: #f5f5f5;
    font-size: 0.18rem;
}

/*banner*/
main{
    padding-top: 0.88rem;

}
.main_wrap{
    height:100%;
    position:relative;
    z-index:10;
}
.main_wrap .banner{
    width:100%;
    height:auto;
    background: repeat;
}
.main_wrap .banner .swiper-container{
    width:100%;
}
.main_wrap .banner .swiper-container .swiper-wrapper{
    background:#e5e4e5;
}
.main_wrap .banner .swiper-container .swiper-slide{
    width:100%;
}
.main_wrap .banner .swiper-container .swiper-slide img{
    width:100%;
    height: 3.5rem
}
.main_wrap .banner .swiper-pagination-bullet {
    width: 0.16rem;
    height: 0.16rem;
    opacity: 1;
    background: white;
}

.main_wrap .banner .swiper-pagination-bullet-active{
    opacity: 1;
    background: #fb301a;
}
.main_wrap .banner .swiper-container .b1{
    width: 100%;
    height:0.4rem;
    background: #e5e4e5;
}

/*导航开始*/
nav{
    height: 3.7rem;
}
nav ul{
    height: 100%;
    width: 100%;
}

nav ul li{
    width: 25%;
    height: 1.44rem;
    float: left;
    text-align: center;
    margin-top: 0.24rem;
    position: relative;
}

nav ul li a{
    width: 1.3rem;
    height: 100%;
}

nav ul li a p{
    font-size: 0.22rem;
    color:#646464;
    margin-top: 0.05rem;
}

nav ul li a .tb{
    margin: 0 auto;
    width: 1rem;
    height: 1rem;
}
nav ul li .hot{
    position: absolute;
    right: 0;
    top: 0;
    width: 0.34rem;
    height: auto;
}

nav ul li .hui{
    position: absolute;
    right: 0;
    top: 0;
    width: 0.34rem;
    height: auto;
}

.main_wrap .zx-money{
    background: #f9f9f9;
    width: 100%;
    height: 5.14rem;
    border-bottom:0.02rem solid #ffac1c ;
    border-top:0.02rem solid #ffac1c ;
}

.main_wrap .end{
    width: 100%;
    height: 0.34rem;
    background: #f7f6f6;
    border-top: 0.01rem solid #d3d3d3  ;
}

.main_wrap .zx-money .top-tit{
    width: 100%;
    height:1rem;
    margin-bottom: 0;
}
.main_wrap .zx-money .top-tit .ji{
    margin-left: 1.68rem;
    margin-top: 0.14rem;
    vertical-align: middle;
    width: 0.48rem;
    height: auto;
}
.main_wrap .zx-money .top-tit p{
    vertical-align: -0.14rem;
    margin: 0 auto;
    display: inline-block;
    font-size: 0.32rem;
    color:#565656;
}
.main_wrap .zx-money .top-tit .xu {
    width:7.5rem;
    height:auto;
}
.main_wrap .zx-money .xz .left-con{
    width: 50%;
    height:0.66rem;
    float: left;
}

.main_wrap .zx-money .xz .left-con p{
    margin-top:0.16rem;
    margin-left: 0.05rem;
}

.main_wrap .zx-money .xz a .left{
    width:0.32rem;
    height: 0.32rem;
    float: left;
    margin-left: 1.4rem;
    margin-top: 0.2rem;

}

.main_wrap .zx-money .xz .right-con{
    width: 50%;
    height: 0.66rem;
    float: right;
}

.main_wrap .zx-money .xz .right-con p{
    margin-top:0.16rem;
    margin-left: 0.05rem;
}

.main_wrap .zx-money .xz a .right{
    width: 0.32rem;
    height: 0.32rem;
    float: left;
    margin-left: 1.4rem;
    margin-top: 0.2rem;
}
.main_wrap .zx-money .xz .xin{
    float: left;
}
.main_wrap .zx-money .xz .jiu{
    float: left;
}
/*input*/
.main_wrap .zx-money .ipt{
    width: 100%;
    height: 0.98rem;
    position: relative;
    margin-top: 0.1rem;
}
.main_wrap .zx-money .ipt input{
    width: 7.08rem;
    height: 0.76rem;
    border: 0.01rem solid #e6e6e6;
    margin-left: 0.2rem;
    padding-left: 0.2rem;
    float: left;
    font-size: 0.24rem;
    color: #333;
}
.main_wrap .zx-money .ipt p{
    position: absolute;
    top: 0.16rem;
    right: 0.4rem;
    font-size: 0.26rem;
    font-weight: bold;
}
.main_wrap .zx-money .choice{
    width: 100%;
    height:0.98rem;
}

.main_wrap .zx-money .choice .left{
    width: 3.4rem;
    height: 0.76rem;
    background: white;
    border: 0.01rem solid #e6e6e6;
    display: inline-block;
    margin-left: 0.2rem;
}

.main_wrap .zx-money .choice .left p{
   display: inline-block;
    margin-left: 0.22rem;
    margin-top: 0.2rem;
    font-size: 0.24rem;
}

.main_wrap .zx-money .choice .left img{
    float: right;
    margin-top: 0.26rem;
    margin-right: 0.2rem;
    width: 0.18rem;
    height: auto;
}

.main_wrap .zx-money .choice .right{
    width: 3.4rem;
    height: 0.76rem;
    background: white;
    border: 0.01rem solid #e6e6e6;
    display: inline-block;
    margin-left: 0.2rem;
}

.main_wrap .zx-money .choice .right p{
    display: inline-block;
    margin-left: 0.22rem;
    margin-top: 0.2rem;
    font-size: 0.24rem;
}

.main_wrap .zx-money .choice .right img{
    float: right;
    margin-top: 0.26rem;
    margin-right: 0.2rem;
    width: 0.18rem;
    height: auto;
}

.main_wrap .zx-money .but button{
    width: 7.08rem;
    height:0.8rem;
    background:#ff4d39;
    font-size: 0.26rem;
    color: white;
    text-align: center;
    margin: 0 auto;
    border: 0 none;
    margin-left: 0.2rem;
}

/*floor_notice*/
.floor_notice{ width:100%;
    height:0.6rem;  /*padding:0 0.2rem;*/
}
.floor_notice .notice_bt{
    width:0.6rem;
    height:100%; /*background:rgba(51,153,204,1);*/
    float:left; }
.floor_notice .notice_bt img{
    margin: 0.2rem 0 0 0.2rem ;
    width: 0.26rem;
    height: auto;
}
.floor_notice .notice_con{
    width:70%; height:0.65rem; /*background:rgba(204,153,204,1);*/
    float:left;
}
.floor_notice .notice_con .swiper-container{
    width:100%;
    height:100%;
}
.floor_notice .notice_con .swiper-container .swiper-slide{
    width:100%;
    height:0.3rem;
    white-space: nowrap;/*不换行*/
    overflow:hidden;/*溢出隐藏*/
    text-overflow:ellipsis;/*溢出出现省略号*/ /*line-height:0.9rem;*/
    color:#828181;
    padding-top: 0.15rem;
    font-size: 0.24rem;
}
/*热门活动*/
.hd {
    width: 100%;
    height: 100%;
    background: #fffbff;
}
.hd .tit-{
    width: 100%;
    height: 0.9rem;
}
.hd .tit- p{
    display: inline-block;
    margin-right: 2rem;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
}
.hd .swiper-slide .pic a{
    padding-top: 2.85rem;
    border-right: 0.01rem solid #f5f5f5;

}
.hd .swiper-slide .pic img{
    width:33%;
    height: auto;
    background: #ffffff;
    margin-left: -0.08rem;
}
/*xg_pic*/
.xg_pic {
    width: 100%;
    height: 100%;
    border-bottom: 0.01rem solid #e1e1e1;
}

.xg_pic .title{
    width: 100%;
    height:1rem;
    background: #fffbff;
}

.xg_pic .title p{
    font-size: 0.32rem;
    color:#313031;
    margin-top: 0.3rem;
    margin-left: 0.2rem;
    float: left;
}
.xg_pic .title span{
    float: right;
    color:#b5b6b5;
    font-size: 0.22rem;
    margin-right: 0.2rem;
    margin-top: 0.4rem;

}

.xg_pic .title .dj{
    color: #ff5142;
    border-bottom: 0.04rem solid #ff5142;
}

.xg_pic{
    background: #f9f9f9;
    position: relative;
}

.xg_pic .pic_ {
    display: inline-block;
    margin-top: 0.2rem;
    width: 45%;
    height: auto;
    text-align: center;
}
/*1*/
.xg_pic .pic_ .one{
    background: url("../images/161529170068.jpg" ) no-repeat center center;
    width: 3.42rem;
    background-size: 3.42rem 2.4rem;
    height: 2.4rem;
    float: left;
    margin-left: 0.2rem;
}
.xg_pic .pic_ .one a>p{
    color: #fffbff;
    font-size: 0.22rem;
    margin-left: 0.2rem;
    padding-top: 2rem;
    letter-spacing: 0.06rem;
}
/*2*/
.xg_pic .pic_ .two{
    background: url("../images/111203454194.jpg" ) no-repeat center center;
    width: 3.42rem;
    background-size: 3.42rem 2.4rem;
    height: 2.4rem;
    margin-right: -0.4rem;
    float: right;
}
.xg_pic .pic_ .two a>p{
    color: #fffbff;
    font-size: 0.22rem;
    margin-left: 0.2rem;
    padding-top: 2rem;
    letter-spacing: 0.06rem;
}
/*3*/
.xg_pic .pic_ .san{
    background: url("../images/041108104482.jpg" ) no-repeat center center;
    width: 3.42rem;
    background-size: 3.42rem 2.4rem;
    height: 2.4rem;
    margin-left: 0.2rem;
    float: left;
}
.xg_pic .pic_ .san a>p{
    color: #fffbff;
    font-size: 0.22rem;
    margin-left: 0.2rem;
    padding-top: 2rem;
    letter-spacing: 0.06rem;
}
/*4*/
.xg_pic .pic_ .shi{
    background: url("../images/081039129045.jpg" ) no-repeat center center;
    width: 3.42rem;
    background-size: 3.42rem 2.4rem;
    height: 2.4rem;
    margin-right: -0.4rem;
    float: right;
}
.xg_pic .pic_ .shi a>p{
    color: #fffbff;
    font-size: 0.22rem;
    margin-left: 0.2rem;
    padding-top: 2rem;
    letter-spacing: 0.06rem;
}
.xg_pic .pic_ .p{
    /*display: none;*/
}

.xg_pic .but-left{
    width: 3.42rem;
    height:0.82rem;
    background: #f7f3f7;
    border-radius: 0.05rem;
    border: 0.01rem solid #dedfde;
    margin: 0.3rem 0;
    margin-left: 0.2rem;
    display: inline-block;
}
.xg_pic .but-left p{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 0.82rem;
    margin-left: 1.1rem;
    color:#636563;
}
.xg_pic .but-left img{
    vertical-align: middle;
    width: 0.28rem;
    height:auto;;
}
.xg_pic .but-right{
    width: 3.42rem;
    height:0.82rem;
    background: #f7f3f7;
    border-radius: 0.05rem;
    border: 0.01rem solid #dedfde;
    margin: 0.3rem 0;
    margin-left: 0.2rem;
    display: inline-block;
}
.xg_pic .but-right p{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 0.82rem;
    margin-left: 0.94rem;
    color: #ff655a;
}
.xg_pic .but-right img{
    vertical-align: middle;
    width: 0.28rem;
    height:auto;
}
.xg_pic>a:hover .but-left{
    border: 0.01rem solid #636563;
}
.xg_pic>.hover:hover .but-right{
    border: 0.01rem solid #ff655a;
}
/*gd*/
.gd{
    width: 100%;
    height:100%;
}
.gd .title{
    width: 100%;
    height: 0.94rem;
}
.gd .title p{
    font-size: 0.32rem;
    line-height: 0.94rem;
    margin-left: 0.2rem;
    color: #272727;
}
.gd .gd-pic{
    background: #f9f9f9;
    width: 100%;
    height: 7.56rem;
}
.gd .gd-pic>img{
    margin: 0.2rem 0.2rem 0.2rem 0.2rem;
    width: 7.1rem;
    height: auto;
}
.gd .gd-pic>p{
    color:#494a49;
    font-size: 0.26rem;
    margin-left: 0.2rem;
    letter-spacing: 0.02rem;
    display: inline-block;
}
.gd .gd-pic .right-pic{
    float: right;
    margin-right: 0.2rem;
}
.gd .gd-pic .right-pic>img{
    vertical-align: 0.01rem;
    width: 0.25rem;
    height: auto;
}
.gd .gd-pic .right-pic>span{
    vertical-align: 0.01rem;
}
.gd .gd-pic .but{
    width: 100%;
    height: auto;
}
.gd .gd-pic .but>a .left{
    width: 3.42rem;
    height:0.82rem;
    background: #f7f3f7;
    border-radius: 0.05rem;
    border: 0.01rem solid #dedfde;
    margin: 0.3rem 0;
    margin-left: 0.2rem;
    float: left;
}
.gd .gd-pic .but>a .left p{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 0.82rem;
    margin-left: 1.1rem;
    color:#636563;
}
.gd .gd-pic .but>a .left img{
    vertical-align: middle;
    width: 0.28rem;
    height: auto;
}
.gd .gd-pic .but>a .right{
    width: 3.42rem;
    height:0.82rem;
    background: #f7f3f7;
    border-radius: 0.05rem;
    border: 0.01rem solid #dedfde;
    margin: 0.3rem 0;
    margin-right: 0.2rem;
    float: right;
}

.gd .gd-pic .but>a .right>p{
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 0.82rem;
    margin-left: 0.94rem;
    color: #ff655a;
}
.gd .gd-pic .but>a>.right>img{
    vertical-align: middle;
    width: 0.28rem;
    height: auto;
}
.gd-pic>.but>a:hover .left{
    border: 0.01rem solid #636563;
}
.gd-pic>.but>.right:hover .right{
    border: 0.01rem solid #ff655a;
}
/*bottom-nav*/
.bottom{
    min-width: 3.2rem;
    max-width: 7.5rem;
    height: auto;
}
.bottom .bottom-nav{
    width: 100%;
    min-width: 3.2rem;
    max-width: 7.5rem;
    height:auto;
    background: rgba(0,0,0,0.55);
    bottom: 0;
    position: fixed;
    text-align: center;
}
.bottom .bottom-nav li{
    display: inline-block;
    width: 24%;
    height: 0.9rem;
    margin-top: 0.04rem;
}
.bottom .bottom-nav .li-1{
    background: url("../images/index.png") no-repeat  center 0;
    background-size: 0.6rem 0.6rem;
}
.bottom .bottom-nav .li-1 p{
    font-size: 0.22rem;
    color: #fff;
    margin-top: 0.6rem;
}

.bottom .bottom-nav .li-2{
    background: url("../images/fl.png") no-repeat  center 0;
    background-size: 0.6rem 0.6rem;
}
.bottom .bottom-nav .li-2 p{
    font-size: 0.22rem;
    color: #fff;
    margin-top: 0.6rem;
}

.bottom .bottom-nav .li-3{
    background: url("../images/gouwuche.png") no-repeat  center 0;
    background-size: 0.6rem 0.6rem;
}
.bottom .bottom-nav .li-3 p{
    font-size: 0.22rem;
    color: #fff;
    margin-top: 0.6rem;
}

.bottom .bottom-nav .li-4{
    background: url("../images/my(1).png") no-repeat  center 0;
    background-size: 0.6rem 0.6rem;

}
.bottom .bottom-nav .li-4 p{
    font-size: 0.22rem;
    color: #fff;
    margin-top: 0.6rem;
}
